#use
	.page-header
		h1 Get Started
	p  The library use is realy very simple
	p(class="text-center")
		a(class="btn btn-primary download", href="https://github.com/atxy2k/RestrictedTextField/blob/master/dist/Atxy2k.jar?raw=true", target="_blank") Download Library
	h3 Add library to Project
	figure(class="text-center")
		img(src="assets/img/01.png", alt="Import to proyect")
	h3 Import library in your package
	pre import Atxy2k.CustomTextField.RestrictedTextField;
	h3 Init instances and restrictions
	figure
		img(src="assets/img/04.png", alt="", style="width:80%;")
	h3 Example Result
		figure(class="text-center")
			img(src="assets/img/05.png", alt="")
	a(href="#top", class="btn btn-sm btn-primary pull-right") Up