.col-md-12.autor
	h5.text-center About Author
	figure(style="width:50%;margin: 0 auto;")
		img.img-responsive.img-thumbnail.avatar(src="https://pbs.twimg.com/profile_images/561944123989454848/s4X-q68F_400x400.jpeg")
	p.margin-top-20.text-center  Engineering and Jr. Programmer, HTML 5, CSS3, JavaScript, PHP, Python, Java, Android Developer , friend and father.
	h5.text-center.uppercase Social
	ul.social-me
		li
			a#facebook(href="https://www.facebook.com/atxy2k", target="_blank")
				i.fa.fa-facebook
		li
			a#twitter(href="https://twitter.com/atxy2k", target="_blank")
				i.fa.fa-twitter
		li
			a#linkedin(href="https://mx.linkedin.com/pub/iván-ignacio-alvarado-díaz/a5/288/2ba", target="_blank")
				i.fa.fa-linkedin
		li
			a#google(href="https://plus.google.com/u/0/+IvanAlvaradoDiaz/about", target="_blank")
				i.fa.fa-google-plus
		li
			a#wordpress(href="http://ivanalvarado.net/", target="_blank")
				i.fa.fa-wordpress
h3.title#menu Content
.list-group
	a(href="#index", class="list-group-item") Home
	a(href="#use", class="list-group-item") Get Started
	a(href="#documentation", class="list-group-item") Documentation
	a(href="#comments", class="list-group-item") Comments
.col-md-12
	h5.text-center.uppercase Share In
	ul.social-shares
		li
			a.social#facebook('href'="javascript: void(0);", onclick="window.open('http://www.facebook.com/sharer.php?u=http://atxy2k.github.io/RestrictedTextField/','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');" ,target="_blank")
				i.fa.fa-facebook
		li
			a.social#twitter('href'="javascript: void();", onclick="window.open('https://twitter.com/intent/tweet?url=http://atxy2k.github.io/RestrictedTextField/&text=RestrictedTextField','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');" ,target="_blank")
				i.fa.fa-twitter
		li
			a.social#linkedin('href'="javascript: void();", target="_blank", onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=http://atxy2k.github.io/RestrictedTextField/&title=RestrictedTextField','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');")
				i.fa.fa-linkedin
