nav.navbar.navbar-default
    .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          a(href='#index', class="navbar-brand no-click")  RestrictedTextField