extends layout.jade
block content
	#index
		.page-header
			h1 RestrictedTextField
			small Small library to limit behavior JTextField in Java
		p
			strong RestrictedTextField
			span  is a small library inspired in the limited behavior of Swing componen provides, one of the common problems in use the component, it is very complex to manage the content that is being written, that is, there is no way to automatically validate the user to type certain characters we want, unless it is by manual code.
		p
			span It is for this reason that the 
			strong RestrictedTextField   
			span library provides an easy way to manipulate the component providing some utility functions that could benefit more than one person.
		h3 Latest Version (1.0)
		p The lastest version contain the next functions
		ul
			li Allow limit the jTextField to only accept letters.
			li Allow limit the jTextField to only accept numbers.
			li Allow limit the jTextField to only accept one numbers of characters defined.
			li Allow writing only alphanumeric characters.
			li Allow manage the characters predefined, regardless if it is numeric, letter, or  simultaneous.
			li Allow accept spaces
	include ./partials/getStarted.jade
	include ./partials/documentation.jade
		


