doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(property="og:title", content="RestrictedTextField")
		meta(property="og:site_name", content="RestrictedTextField")
		meta(property="og:description", content="Small library to limit behavior JTextField in Java")
		title RestrictedTextField Library
		link(rel="stylesheet", href="assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="assets/css/custom.css")		
		script(src="bower_components/jquery/dist/jquery.min.js")
	body#top
		include ./sections/nav.jade
		.container
			.row
				.col-md-3
					include ./sections/menu.jade
				.col-md-9
					block content
		hr
		.container.footer
			.row
				.col-md-12
					a(href="#top", class="btn btn-sm btn-primary pull-right") Up
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="assets/js/analythics.js")
	